<nav class="navbar navbar-expand-lg navbar-dark nav-title">
  <a class="navbar-brand"><img border="0" alt="W3Schools" src="assets/img/Diagram.png" width="25" height="25"> ZCT Sistemas</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark nav-top">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="dashboard"><fa-icon [icon]="chartIcon"></fa-icon> Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" routerLink="historico"><fa-icon [icon]="historyIcon"></fa-icon> Histórico</a>
      </li>
    </ul>
  </div>
</nav>
<section>
  <router-outlet></router-outlet>
</section>
